name: Upload

on: [workflow_dispatch, push]
defaults:
  run: { shell: bash }
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9
        cache: "pip"
        cache-dependency-path: settings.ini
    - name: Run script
      env:
        CONTEXT_GITHUB: ${{ toJson(github) }}
      run: |
        pip install -Uq ghapi
        pip install -e .
        python .github/scripts/upload.py
    - uses: actions/upload-artifact@v3
      with:
        name: upload
        path: reply.json